<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header">About Code Snippets</div>
            <div class="card-body">
                <p>Code Snippets is a platform to share small snippets of code.</p>
                <p>The snippets cannot be longer than 512 characters.</p> 
                <p>You can tag them with the used programming language and other tags, share them with 
                    friends and/or colleagues and collaborate on them together.
                </p>
                <p>
                    Have fun and get coding!
                </p>
            </div>
        </div>
    </div>
</div>