// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.CodeMirror {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.form-group.update-comment-formgroup,.form-group.update-comment-formgroup > input {
    margin-bottom: 5px;
    font-size: 0.8em;
}

.row.new-comment-row.update-comment-div {
    display:none;
}

.edit-comment {
    cursor:pointer;
}
a.edit-comment:hover, a.edit-comment:active {
    color: #007bff!important;
    text-decoration: underline!important;
}